#hi-eu-opt-in .opt-in-splash {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 58px;
	height: 58px;
}
#hi-eu-opt-in .opt-in-splash.unconfirmed {
	background: url("hi-cookie-sprite.png") no-repeat scroll 0 -10px transparent;
	cursor: pointer;
}
#hi-eu-opt-in .opt-in-splash.confirmed {
	background: url("hi-cookie-sprite.png") no-repeat scroll 0 -68px transparent;
}

#hi-cookie-box {
	background: url(hi-cookie-sprite.png) no-repeat -64px 0;
	width:190px;
	height:190px;
	font-size:11px;
	text-align: center!important;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	position: fixed;
	bottom: 24px;
	left: 24px;
}
#hi-cookie-box p {text-align: center!important}
#hi-cookie-close  {display:block;float:right;background: #222;padding:3px 7px;border-radius:3px; cursor: pointer}
#hi-cookie-close:hover {background:#666;color:#fff!important}
#hi-cookie-box p {padding:0;margin:0}
#hi-cookie-box .hi-cookie-head {font-size:15px;padding:20px 0 3px 0}
#hi-cookie-box .hi-cookie-intro {color:#ccc; font-size: 10px;padding-bottom: 10px; line-height: 1em; white-space: pre}
#hi-cookie-box a{color:#fff;font-weight:700;text-decoration:none}
#hi-cookie-box a:hover {color:#ccc}
#hi-cookie-box .hi-cookie-power {font-size: 9px}

#hi-cookie-box div.hi-cookie-btn {cursor: pointer; margin:5px 10px 8px 55px;float: left; display:block;background:url(hi-cookie-sprite.png) no-repeat 0 -126px;width:32px;height:32px;text-indent:-100000px}
#hi-cookie-box div.hi-cookie-btn.agree {margin-left:55px; background-position: 0 -126px;}
#hi-cookie-box div.hi-cookie-btn.disagree {margin-left:0;background-position: -32px -126px}
#hi-cookie-box div.hi-cookie-btn.agree:hover {background-position: 0 -158px}
#hi-cookie-box div.hi-cookie-btn.disagree:hover {background-position: -32px -158px}